<%= content_tag :div, id:"portfolio-content" do %>

  <%= content_tag :div, id:"portfolio-title" do %>
    <%= content_tag :h1, "Portfólio" %>
    <%= content_tag :p, "MEUS TRABALHOS" %>
  <% end %>

  <%= content_tag :div, class:"separator" do %> <% end %>

<%= content_tag :div, class:"text-title uppercase" do %> <strong> Projetos </strong> <% end %>

 <h1>EM BREVE</h1>

<% end %>
