<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Portifolio" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>




<link rel="icon" href="<%= asset_path('favicon-no-back.ico') %>" type="image/x-icon" media="(prefers-color-scheme: light)">
<link rel="icon" href="<%= asset_path('favicon-no-back-d.ico') %>" type="image/x-icon" media="(prefers-color-scheme: dark)">

<link rel="icon" href="<%= asset_path('favicon-no-back.ico') %>" type="image/png" media="(prefers-color-scheme: light)">
<link rel="icon" href="<%= asset_path('favicon-no-back-d.ico') %>" type="image/png" media="(prefers-color-scheme: dark)">

<link rel="icon" href="<%= asset_path('favicon-no-back.ico') %>" type="image/svg+xml" media="(prefers-color-scheme: light)">
<link rel="icon" href="<%= asset_path('favicon-no-back-d.ico') %>" type="image/svg+xml" media="(prefers-color-scheme: dark)">

<link rel="apple-touch-icon" href="<%= asset_path('favicon-no-back.ico') %>" media="(prefers-color-scheme: light)">
<link rel="apple-touch-icon" href="<%= asset_path('favicon-no-back-d.ico') %>" media="(prefers-color-scheme: dark)">




    <link rel="manifest" href="/manifest.json">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
